/* ROOT */

:root { font: 20px/1.2 "Roboto", sans-serif; } /* or html */

/* O arquivo reset configura a pagina para que não precisemos lidar com configurações indesejadas */
body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}

figure * { display: block; }