nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


nav li a:hover:not(.active){
  background-color: #111;
}

.active {
  background-color:  #5a6b5b;
}

#logo{
  float: left;
}

#logo-icon{
  padding: 0;
  margin: 0;
  height: 16px;
  width: 50px;
}